#footer {
    display: block;
    padding: 10px 0 0 0;
    border-top: 2px solid #dddddd;
    font-size: .7em;
    color: #b3b3b3;
}

#footer__copyright {
    margin: 0 20px 10px 20px;
    display: block;
}